// Base colors for a dark-themed project

$bg-primary: #000000;
$bg-secondary: #121212;
$bg-secondary: #121212;
$text-light: #FFFFFF;
$text-muted: #9e9a9a;
$border-light: #2D2D2D;
$action-primary: #FFFFFF;
$action-secondary: #E0E0E0;
$accent-muted: #A9A9A9;
$error: #FF0000;